#header-bar

  .top-content
    .top-content__left
      %ul.navigation
        %li.navigation
          .top-content__home
            %span.fa.fa-home
            %span.text
              ホーム
        %li.navigation
          .top-content__notice
            %span.fa.fa-notice
            %span.text
              通知
        %li.navigation
          .top-content__direct-message
            %span.fa.fa-direct-message
            %span.text
              メッセージ
    %i.fa.fa-twitter

    .top-content__right
      .top-content__right-block
        .search
          %form{:action => "/", :method => ""}
            %input{placeholder: "キーワード検索"}
            %i.fa.fa-search{class: "search--btn"}
        %ul.link__icon
          %li.user__icon
            = link_to image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "icon-size"),destroy_user_session_path, method: :delete

          %li.tweet__btn
            = image_tag("http://www.fastpic.jp/images.php?file=3402064864.png",class: "tweet--btn")

= render partial: 'tweets/tweet',locals: {tweets: @tweets}
