@mixin tweet-box{
  .message-tweet{
    margin: 0px 300px;
    li.tweet-list{
      border-bottom: 1px solid #e1e8ed;
    }
      .message-tweet-content{
        background-color: #fff;
        min-height: 51px;
        padding: 9px 12px;
        .content{
          margin-left: 58px;
          .tweet-user-icon{
            width: 48px;
            height: 48px;
            border-radius: 5px;
            margin-left: -57px;
            float: left;
            }
          .content-header{
            span{
            margin-right: 5px;
            }
            span.nickname{
              color: #292f33;
              font-size: 14px;
              line-height: 18px;
              font-weight: bold;
            }
            span.id{
              font-size: 13px;
              color: #8899a6;
            }
            span.timestamps{
              font-size: 13px;
              color: #8899a6;
            }
            .content-main-text{
              font-size: 14px;
              line-height: 18px;
            }
          }
          .content-btn{
            margin-top:10px;
            .reply-btn{
              color: #aab8c2;
              display: inline-block;
              min-width: 80px;

            }
            .retweet-btn{
              color: #aab8c2;
              display: inline-block;
              min-width: 80px;
            }
            .favorite-btn{
              color: #aab8c2;
              display: inline-block;
              min-width: 80px;

              .fa-heart.fav{
                color: red;
              }

              .fa-heart.not-fav{
                color: #aab8c2;
              }
            }
            .detail-btn{
              color: #aab8c2;
              display: inline-block;
              min-width: 80px;
            }

          }
        }
      }
  }
}

